/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* overflow-y: scroll; */
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0;
  /* background-color:#171941; */
  background-color: #141740;
  overflow-x: hidden;
}

.secondary-font {
  font-family: "Source Code Pro", monospace;
}
.box {
  background-color: #fef9f4;
}

.bio, .hidden {
  visibility: hidden;
}

#code-graphic {
  z-index: 98;
}
#code-graphic img {
  fill: #fef9f4;
}
.opacityPulse-css {
  animation: opacityPulse 3s ease-in-out;
  animation-iteration-count: infinite;
  opacity: 0;
}
@keyframes opacityPulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* .hero-head nav {
  position: relative;
} */

/* .hero-head #navbarMenu {
  position: absolute;
  background-color: #00afb9;

  opacity: 0.5;
  width: 50%;
  right: 0px;
  text-align: center;
  border-radius: 0px 0px 15px 15px;
} */

.flex-column {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
#skills,
#contact-links,
#skills div,
#contact-links div {
  display: flex;
  /* padding: 0;
    margin: 0; */
}
#skills {
  width: 100%;
  flex-wrap: wrap;

  justify-content: space-around;
}
#skills .skill {
  /* flex-basis: 25%; */
}

.skill i {
  /* margin-bottom: 0; */
}
#contact-links a {
}

.skill,
.resource {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.75em;
  margin-bottom: 0;
  padding: 0;
}

.nav-links,
.nav-links a {
  font-family: "Source Code Pro", monospace;
  color: #fef9f4;
}
.title,
.subtitle {
  color: #fef9f4;
}
.tabs a {
  color: #fef9f4;
  border-bottom-color: #fef9f4;
}

.tabs a:hover {
  color: #00afb9;
  border-bottom-color: #00afb9;
}
@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: transparent;
  }

 
}
.level-item a,
#contact-links a {
  color: #555;
}

.level-item a:hover,
#contact-links a:hover {
  color: #00afb9;
}
.name-header,
h1 {
  font-family: "Montserrat Alternates", sans-serif;

  /* 
    font-size: 12em;
    font-weight: 700; */
  color: #fef9f4;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

.lead,
.subtitle,
.profession,
.footer,
.label,
.about-title {
  font-family: "Source Code Pro", monospace;
}

.content-wrapper {
  position: relative;
  z-index: 1;
}

:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}
/* Buttons */
#topBtn {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 25px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #00afb9; /* Set a background color */
  color: #fef9f4; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px;
  border-radius: 10px; /* Rounded corners */
  font-size: 18px;
}
#topBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* --- UTILITY --- */
.bg-primary {
  background-color: #141740;
}
.bg-secondary {
  background-color: #00afb9;
}
.rounded {
  border-radius: 0.5rem;
}
.secondary-color {
  color: #00afb9;
}

/* --- SHADOWS --- */
.depth-shadow {
  text-shadow: 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

.title-shadow,
.image {
  /* filter: drop-shadow( 1px 30px 60px rgba(16,16,16,0.4)); */
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191,
    /* 1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191, */
      1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
.shadow-image {
  -webkit-filter: drop-shadow(1px 18px 6px rgba(16, 16, 16, 0.67));
  filter: drop-shadow(1px 18px 6px rgba(16, 16, 16, 0.67));
}
.shadow-drop {
  -webkit-box-shadow: 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
  box-shadow: 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
/* Style the header */

.label {
  color: #fef9f4;
}

/* Style the footer */
.footer {
  background-color: #fef9f4;
  padding: 10px;
  text-align: center;
}

@media screen and (min-width: 769px), print {
  .columns:not(.is-desktop) {
    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;
    flex-wrap: wrap;
  }
  .tile.is-child{
    max-height: max-content;
  }
}

/* --- ANIMATION & KEYFRAMES --- */
.bg-animation {
  display: block;
  -webkit-animation: ease-in 1s;
  animation: ease-in 1s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  min-width: 100vw;
  height: 100vh;
}
.fade-in-section {
  opacity: 0;
  -webkit-transform: translateY(20vh);
  -ms-transform: translateY(20vh);
  transform: translateY(20vh);
  visibility: hidden;
  -webkit-transition: opacity 1.1s ease-out, -webkit-transform 1.2s ease-out;
  transition: opacity 1.1s ease-out, -webkit-transform 1.2s ease-out;
  -o-transition: opacity 1.1s ease-out, transform 1.2s ease-out;
  transition: opacity 1.1s ease-out, transform 1.2s ease-out;
  transition: opacity 1.1s ease-out, transform 1.2s ease-out,
    -webkit-transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 0.7;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  visibility: visible;
}

.fade-out-section {
  opacity: 1;
  -webkit-transform: translateY(20vh);
  -ms-transform: translateY(20vh);
  transform: translateY(20vh);
  visibility: visible;
  -webkit-transition: opacity 1.1s ease-out, -webkit-transform 1.2s ease-out;
  transition: opacity 1.1s ease-out, -webkit-transform 1.2s ease-out;
  -o-transition: opacity 1.1s ease-out, transform 1.2s ease-out;
  transition: opacity 1.1s ease-out, transform 1.2s ease-out;
  transition: opacity 1.1s ease-out, transform 1.2s ease-out,
    -webkit-transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-out-section.is-not-visible {
  opacity: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  visibility: hidden;
}

.image-animate,
.squares {
  display: block;
  position: absolute;
  /* transition: 0.5s ease-out; */
  overflow-x: hidden;
  left: 0;
  bottom: 0;
}
.move-left {
  -webkit-animation: move-left-right 6s infinite;
  animation: move-left-right 6s infinite;
  animation-direction: alternate-reverse;
}
.move-up {
  -webkit-animation: move-up-down 3s infinite;
  animation: move-up-down 3s infinite;
  animation-direction: alternate-reverse;
}

.move-right {
  -webkit-animation: move-right-left 4s infinite;
  animation: move-right-left 4s infinite;
}

.square4 {
  z-index: -4;
}
.square3 {
  z-index: -3;
}
.square2 {
  z-index: -2;
}
.square1 {
  z-index: -1;
}

@-webkit-keyframes move-left-right {
  0% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}

@keyframes move-left-right {
  0% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}

@-webkit-keyframes move-right-left {
  0% {
    -webkit-transform: translateX(+20px);
    transform: translateX(+20px);
  }
  50% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(+20px);
    transform: translateX(+20px);
  }
}

@keyframes move-right-left {
  0% {
    -webkit-transform: translateX(+20px);
    transform: translateX(+20px);
  }
  50% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(+20px);
    transform: translateX(+20px);
  }
}

@-webkit-keyframes move-up-down {
  0% {
    -webkit-transform: translateY(+10px);
    transform: translateY(+10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(+10px);
    transform: translateY(+10px);
  }
}

@keyframes move-up-down {
  0% {
    -webkit-transform: translateY(+10px);
    transform: translateY(+10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(+10px);
    transform: translateY(+10px);
  }
}
